body {
    background: url(../images/spacecats.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}


.jumbotron {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    height: 60%;
    width: 80%;
    margin-top: 3%;
    padding: 2%;

}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 54pt;
    margin-top: 5%;
}

.container {
    text-align: center;
    margin: auto;
}

.row {
    display: inline-block;
    margin: auto;
}
    

.main-button-container {

    max-width: 610px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.timer-p {
    margin-top: 40px;
}

.answer:hover {
    background: pink;
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
}

.img-wrong {
    margin-top: 40px;
}

.first-answer {
    margin-top: 40px;
}

.reset-button {
    margin-top: 40px;
}

.summary-correct {
    margin-top: 40px;
} 